:root {
  --primary-color: red;
  --secondary-color: black;
  --third-color: white;
  --fourth-color: rgba(255, 255, 255, 0.267);
  --bg-1: rgb(0, 0, 5);
  --bg-2: rgb(0, 0, 10);
  --bg-3: rgb(10, 0, 0);
  --bg-4: rgb(5, 0, 0);
}

body {
  background: linear-gradient(315deg, var(--bg-1) 3%, var(--bg-2) 38%, var(--bg-3) 68%, var(--bg-4) 98%);
  animation: gradient 10s ease infinite;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.3);
  background: rgb(43, 43, 43);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--primary-color)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--third-color);
}

h1 {
  color: var(--third-color);
  letter-spacing: 2px;
  font-weight: 900;
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (max-width:991px) {
  h1 {
    font-size: 1.5rem;
  }
}
.redtext {
  text-decoration: none;
  color: var(--primary-color);
}

.redtext:hover {
  color: var(--primary-color);
}

.center {
  margin-top: 20px;
  text-align: center;
}

.gobutton {
  font-weight: 900;
  text-decoration: none;
  color: var(--third-color);
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  border-radius: 15px;
  padding: 15px 30px;
  border: 2px solid var(--third-color);
  background-color: rgba(0, 0, 0, 0.452);
}

.gobutton:hover {
  color: var(--third-color);
  text-decoration: underline;
}

.height {
  height: 35vh;
}

.height-2 {
  height: 70vh;
}

.height-3 {
  height: 35vh;
}

h2 {
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--third-color);
  text-align: center;
  font-family: "Abel", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto;
}

.card {
  margin-top: 10px;
  border-radius: 15px;
  border: 2px var(--third-color) solid;
  background-color: rgba(0, 0, 0, 0.086);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  border: 2px solid var(--third-color);
}

h11 {
  font-weight: 900;
  font-family: "Abel", sans-serif;
  font-size: 1.5rem;
  margin-left: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--third-color);
}

.paragraph {
  font-family: "Abel", sans-serif;
  margin-left: 10px;
  color: var(--third-color);
}

.context-menu {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Abel", sans-serif;
  color: var(--third-color);
  display: none;
  position: absolute;
  z-index: 1000;
  width: 150px;
  backdrop-filter: blur(10px);
  border: 1px solid var(--third-color);
  box-shadow: 0 0px 5px var(--third-color);
  border-radius: 15px;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu ul li {
  transition: all 0.3s ease-in-out;
  padding: 10px;
  cursor: pointer;
}

.context-menu ul li:hover {
  color: var(--third-color);
  text-shadow: 0 0 10px var(--third-color);
}

#contact {
  margin-left: 15%;
  margin-right: 15%;
}
@media (max-width:991px) {
  #contact {
    margin-left: 10%;
    margin-right: 10%;
  }
  .card {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.illness {
  color: var(--third-color);
  background-image: linear-gradient(to left, rgba(238, 130, 238, 0.514), rgba(76, 0, 130, 0.425), rgba(0, 0, 255, 0.404), rgba(0, 128, 0, 0.473), rgba(255, 255, 0, 0.432), rgba(255, 166, 0, 0.466), rgba(255, 0, 0, 0.425));
  text-decoration: none;
}
.illness:hover {
  color: var(--third-color);
  text-decoration: underline;
}
.copyright {
  font-family: "Abel", sans-serif;
  font-weight: 200;
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: 200;
  transition: 0.3s;
  color: var(--fourth-color);
}

.copyright:hover {
  text-decoration: underline;
}

.footerhr {
  transition: 0.5s;
  color: var(--fourth-color);
  width: 80%;
}