:root {
  --primary-color: red;
  --secondary-color: black;
  --third-color: white;
  --fourth-color: rgba(255, 255, 255, 0.267);
  --bg-1: rgb(0, 0, 5);
  --bg-2: rgb(0, 0, 10);
  --bg-3: rgb(10, 0, 0);
  --bg-4: rgb(5, 0, 0);
}

nav {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-bottom: 0.5px solid transparent;
  transition: 0.3s ease-out;
}

nav.scrolled {
  border-bottom: 0.5px solid var(--fourth-color);
}

.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: 0.2s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 2.2px;
  width: 100%;
  background: #ffffff;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.2s ease-in-out;
}

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 3px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .bottom-bar {
  width: 60%;
  position: absolute;
  top: 13px;
  left: 9px;
  transform: rotate(0deg);
}

.navbar-toggler .top-bar {
  top: 7px;
  transform: rotate(-45deg);
}

.navbar-toggler .bottom-bar {
  top: 7px;
  transform: rotate(45deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background: white;
}

.nav-link {
  text-transform: uppercase;
  color: var(--third-color);
  font-family: "Abel", sans-serif;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 5px;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.active {
  color: rgb(255, 0, 0) !important;
}

.active:hover {
  color: white;
}

@media (max-width: 991px) {
  .navbar-open {
    overflow: hidden;
  }
}



@media (max-width: 991px) {

  .navbar-nav {
    align-items: left;
    transition: 0.5s ease-in-out;
    width: 100vw;
    height: 100vh;
    justify-content: center;

  }

  .nav-link {
    margin-left: 3%;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 7px;
  }
}

.fade-nav-1 {
  -webkit-animation: wfadeIn 0.6s;
  -moz-animation: wfadeIn 0.6s;
  -o-animation: wfadeIn 0.6s;
  -ms-animation: wfadeIn 0.6s;
  animation: wfadeIn 0.6s
}

.fade-nav-2 {

  -webkit-animation: wfadeIn 0.8s;
  -moz-animation: wfadeIn 0.8;
  -o-animation: wfadeIn 0.8s;
  -ms-animation: wfadeIn 0.8s;
  animation: wfadeIn 0.8s;
}

.fade-nav-3 {
  -webkit-animation: wfadeIn 1s;
  -moz-animation: wfadeIn 1s;
  -o-animation: wfadeIn 1s;
  -ms-animation: wfadeIn 1s;
  animation: wfadeIn 1s;
}

.fade-nav-4 {
  -webkit-animation: wfadeIn 1.2s;
  -moz-animation: wfadeIn 1.2s;
  -o-animation: wfadeIn 1.2s;
  -ms-animation: wfadeIn 1.2s;
  animation: wfadeIn 1.2s;
}

.fade-nav-5 {
  -webkit-animation: wfadeIn 1.4s;
  -moz-animation: wfadeIn 1.4s;
  -o-animation: wfadeIn 1.4s;
  -ms-animation: wfadeIn 1.4s;
  animation: wfadeIn 1.4s;
}

.fade-nav-6 {
  -webkit-animation: wfadeIn 1.6s;
  -moz-animation: wfadeIn 1.6s;
  -o-animation: wfadeIn 1.6s;
  -ms-animation: wfadeIn 1.6s;
  animation: wfadeIn 1.6s;
}

@keyframes wfadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes wfadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes wfadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes wfadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes wfadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in-text {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.form-control {
  font-family: "Abel", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.333);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.221);
  margin-top: 10px;
}

.form-control:focus {
  box-shadow: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.333);
  border: 1px solid white;
}

.form-control::placeholder {
  color: var(--fourth-color);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"%3E%3Cpath fill="red" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/%3E%3C/svg%3E') center/contain no-repeat;
}

.btn {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  color: var(--fourth-color);
  border: 1px solid var(--fourth-color);
  margin-bottom: 10px;
  float: right;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.333);
}

.btn:hover {
  color: white;
  border: 1px solid white;
  text-decoration: underline;
  text-decoration-color: white;
  background-color: rgba(0, 0, 0, 0.333);
}

.dropdown-menu {
  max-width: 300px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.411);
  margin-top: 50px;
}

.dropdown-menu .dropdown-item {
  white-space: normal;
}

.dropdown-menu a {
  font-size: 15px;
  width: 50px;
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  color: white;
  display: flex;
  align-items: center;
}

.dropdown-menu a:hover {
  text-shadow: 0 0 5px white;
  color: white;
  background-color: rgba(0, 0, 0, 0.411);
}
.themeteller {
  margin-left: 5px;
  margin-top: 20px;
  color: var(--third-color);
  font-size: 20px;
}